body {
    background: white;
}


button {
    background-color: black ;
    border: none;
    color: white;
    padding: 2px 15px;
    text-align: center;
    text-decoration: none;
    display:;
    font-size: 15px;
    margin: 10px 2px;
    cursor: pointer;
}


.shakecss {
    animation: shakeit 0.2s infinite;
}

@keyframes shakeit {
    25% {
        transform: translateX(-10px)
    }
    75% {
        transform: translateX(10px)
    }
}



.pulsecss
{

  animation: pulse 2s infinite;
}

@keyframes pulse {
  20% {
    background-color: white;
  }
  60% {
    background-color: #dd6153;

  }
}




.stretchcss
{
  height: 398px;
  width: 250px;
  margin: 0 auto;
  background-color: white;
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(.3);
    background-color: white;
    border-radius: 80%;
  }
  50% {
    background-color: lightcyan;
  }
  100% {
    transform:none
    background-color: white;
  }
}




.jumpcss
{
animation: jump 1.5s ease 0s infinite normal;
}

@keyframes jump {
  0%{
	transform: translateY(0);
  }
  20%{
	transform: translateY(0);
  }
  40%{
	transform: translateY(-50px);
  }
  50%{
	transform: translateY(0);
  }
  60%{
	transform: translateY(-30px);
  }
  80%{
	transform: translateY(0);
  }
  100%{
	transform: translateY(0);
  }
}


.glowcss
{

border-radius:60%;
    box-shadow: 0 0 130px 50px white;

    -webkit-animation-name:             glow;
       -moz-animation-name:             glow;
    -webkit-animation-duration:         1s;
        -moz-animation-duration:        1s;
    -webkit-animation-iteration-count:  infinite;
        -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function:  ease-in-out;
        -moz-animation-timing-function: ease-in-out;
}

@keyframes glow {
    0% {
        opacity: 0.7;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.7;
    }
}



.slideincss
 {
  animation-duration: 2s;
  animation-name: slidein;
     margin: 20px;
    height: 365px;
    width: 250px;
}

@keyframes slidein {
  from {
    margin-left: 30%;
    width: 30%;
  }

  to {
    margin-left: 0%;
    width: 30%;
  }
}

.spincss
{
    margin: 20px;
    height: 365px;
    width: 230px;
    background: grey;
    -webkit-animation: spin 4s infinite linear;
}


@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}


.colormecss
{
  background: black;
  animation: colorme 5s;
}

@keyframes colorme
{

  10% {
    background: grey;
  }

  100% {
    background: black;
  }
}




.zoomoutdowncss {
  animation-name: zoomoutdown;
    animation-duration: 4s;
}

@keyframes zoomoutdown

{
  40% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  to {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}




.zoominleftcss
{
  animation-name: zoominleft;
    animation-duration: 4s;
}

@keyframes zoominleft
{
  from {
    opacity: 5;
    transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}
